#pricing .pricing-plan {
  display: inline-block;
  background-color: #ff7043; /* Intensywny pomarańczowy dla planów */
  padding: 30px;
  margin: 15px;
  width: 23%; /* Dostosowanie szerokości do 7 planów */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

#pricing .pricing-plan:hover {
  transform: translateY(-5px);
}

.pricing-plan h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.pricing-plan p {
  font-size: 18px;
  margin-bottom: 20px;
}

.plan-button {
  display: inline-block;
  background-color: #d50000; /* Czerwony przycisk */
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.plan-button:hover {
  background-color: #ff5722;
}
